@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Json Parse</h1>
    <div class="tittle mt-4">
        <h1>Json değerini görüntüle</h1>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-bg-primary rounded-3">
                <h2>Müşteri Kaydet</h2>
                <a class="btn btn-outline-light" asp-controller="Home" asp-action="JsonParse"><i class="bi bi-send-fill"></i><br />Json Değerini Görüntüle</a>
            </div>
        </div>
       
    </div>
    <hr />
   
    </section>
</div>
